.about-section {
  padding-top: 120px;
  padding-bottom: 113px;

  .content-row {
    align-items: center;
  }

  .section-image {
    text-align: center;
    padding-bottom: 33px;
    padding-left: 33px;
    position: relative;
    max-width: fit-content;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 90%;
      background-color: $gmm-gray;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 90%;
      height: 1px;
      background-color: $gmm-gray;
    }
  }

  .section-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 46px;
    width: 100%;
    //max-width: 600px;
    row-gap: 30px;

    .list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 25px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &__100 {
        width: 100%;
        max-width: 600px;
      }

      &__50 {
        width: 45%;
        margin-bottom: 0;
        padding-left: 0;
      }

      &__icon {
        min-width: 50px;
        margin-right: 45px;

        img {
          width: 100%;
          height: auto;
          max-width: 50px;
        }
      }
    }
  }

  .button {
    margin-top: 48px;
  }

  .content-col {
    padding: 0 25px;
  }

  @include breakpoint(1240px down) {
    .content-col {
      padding: 0 40px;
    }
  }
  @include breakpoint(small down) {
    padding-top: 48px;
    padding-bottom: 25px;
    text-align: center;

    .content-col {
      padding: 0 25px;
    }

    .section-list {
      .list-item {
        flex-direction: column;

        &__icon {
          margin-right: 0;
          margin-bottom: 16px;
        }

        .list-item-title {
          max-width: 175px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .list-item__50 {
        padding-right: 0;
        justify-content: space-between;
      }
    }
  }
}
