.products-section {
  position: relative;
  padding-top: 70px;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgba(246, 246, 246, 0.7) 0%,
      rgba(246, 246, 246, 0.7) 100%
    );
  }

  .products-container {
    position: relative;
    z-index: 2;
    max-width: 1400px;
  }

  .section-title {
    margin-bottom: 15px;
  }

  .section-text {
    max-width: 780px;
    margin: 0 auto 55px;
  }

  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    row-gap: 35px;

    .product {
      background-color: $white;
      width: 100%;
      max-width: 24%;
      min-height: 483px;
      padding: 110px 25px 49px 31px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      border: 1px solid transparent;
      transition: all 0.5s ease-out;
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

      &:hover {
        border: 1px solid $black;
      }

      &__title {
        color: $black;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid;
        padding-bottom: 5px;
        border-color: rgba($gmm-gray, 0.4);
      }
    }

    @include breakpoint(medium down) {
      padding-left: 42px;
      padding-right: 42px;
      .product {
        max-width: 45%;
        min-height: auto;
        padding: 58px 0 21px;
        border: 1px solid $black;

        &__image {
          margin-bottom: 36px;
        }

        &__title {
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    //@include breakpoint(small down) {
    //  .product {
    //    max-width: 100%;
    //  }
    //}
  }

  .section-button {
    margin-bottom: 120px;
  }

  .bottom-content {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 30.65%);
    position: relative;
    z-index: 2;

    .bottom-content__imege {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .image-col {
      @include breakpoint(1350 down) {
        width: 100%;

        .bottom-content__imege {
          height: 100%;
          max-height: 700px;
          img {
            object-fit: cover;
          }
        }
      }
    }

    .text-col {
      position: relative;
      height: 100%;

      .bottom-content__text-wrap {
        position: absolute;
        top: 50%;
        left: -102px;
        transform: translateY(-50%);
        color: $white;
        width: 100%;
        max-width: 870px;
        padding-right: 37px;
        padding-bottom: 37px;
      }

      .bottom-content__text {
        background-color: $black;
        position: relative;
        padding: 82px 94px;

        &:before {
          content: '';
          position: absolute;
          right: -36px;
          bottom: -36px;
          height: 95%;
          width: 1px;
          background-color: $gmm-gray;
        }

        &:after {
          content: '';
          position: absolute;
          right: -36px;
          bottom: -36px;
          width: 90%;
          height: 1px;
          background-color: $gmm-gray;
        }

        h4 {
          color: $yellow;
          margin-bottom: 20px;
        }

        h2 {
          margin-bottom: 35px;
          border-top: 1px solid $gmm-gray;
          padding-top: 20px;
        }

        ul {
          list-style-type: none;
          margin-left: 0;

          li {
            font-size: 16px;
            color: #bebebe;
            line-height: 26px;
            margin-bottom: 35px;
            position: relative;
            padding-left: 37px;

            &:before {
              content: '';
              width: 16px;
              height: 16px;
              display: inline-block;
              background-color: $yellow;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      @include breakpoint(1350 down) {
        width: 100%;
        .bottom-content__text-wrap {
          max-width: 90%;
          position: relative;
          transform: translate(-50%, 0);
          top: -85px;
          left: 50%;
        }
      }
      @include breakpoint(small down) {
        .bottom-content__text-wrap {
          color: #fff;
          transform: translateY(0);
          top: -85px;
          left: 0;
          max-width: 870px;
          padding: 0 11px 12px;
          position: relative;
          width: 95%;
          margin: 0 auto;
        }
        .bottom-content__text {
          padding: 67px 40px 47px;

          &:before {
            right: -11px;
            bottom: -12px;
          }

          &:after {
            right: -11px;
            bottom: -12px;
          }

          h2,
          h4 {
            text-align: center;
          }
        }
      }
    }
  }
}

.page-id-33 {
  .products-section {
    margin-bottom: 110px;
  }
}
