/* ---------------------------------------
	Blog page
--------------------------------------- */

.preview {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $medium-gray;
}

.preview__meta {
  margin-top: 20px;
  margin-bottom: 0;
  color: $dark-gray;
  font-size: 14px;
}

.preview__thumb {
  @include breakpoint(small down) {
    margin-bottom: 20px;
  }
}

/* ---------------------------------------
	Post / Page inner view
--------------------------------------- */

.single-post-container {
  max-width: 1410px;

  @include breakpoint(medium down) {
    padding: 0 25px;
  }
}

.entry {
  padding-right: 42px;
  @include breakpoint(medium down) {
    padding: 0;
    margin-bottom: 30px;
  }
}

.entry__thumb {
  padding-left: 42px;
  margin-bottom: 60px;

  .product-image {
    margin-bottom: 20px;
    aspect-ratio: 650/577;
    width: 100%;
    max-width: 100%;
    //background: $gmm-light-gray -102.069px 43px / 131.406% 70.315% no-repeat;
    border: 1px solid $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px;

    img {
      width: 100%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(medium down) {
    padding: 0;
    .product-image {
      padding: 15px;
    }
  }
}

.product-subtitle {
  color: $gmm-gray;
  margin-top: 59px;
}

.entry__meta {
  color: $dark-gray;
  font-size: 14px;
}

.entry__cat {
  margin-top: 20px;
}

.entry__content {
  color: $gmm-gray;

  p {
    margin-bottom: 30px;
  }

  strong {
    color: $black;
  }

  ul {
    max-width: 90%;

    li {
      margin-bottom: 15px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

//.gallery-section {
//  margin-top: 120px;
//  margin-bottom: 120px;
//
//  .gallery-slider {
//    padding: 0 64px;
//
//    &__slide {
//      padding: 0 18px;
//
//      img {
//        width: 100%;
//        aspect-ratio: 1/1;
//        object-fit: cover;
//      }
//    }
//
//    .slick-arrow {
//      &:before {
//        color: #000;
//        font-size: 35px;
//      }
//    }
//
//    .slick-prev {
//      left: 0;
//
//      &:before {
//        color: $gmm-gray;
//        content: '\f0d9';
//      }
//    }
//
//    .slick-next {
//      right: 0;
//
//      &:before {
//        color: $gmm-gray;
//        content: '\f0da';
//      }
//    }
//  }
//  @include breakpoint(small down) {
//    .gallery-slider {
//      padding: 0 45px;
//
//      .slick-arrow {
//        width: 45px;
//        height: fit-content;
//        &:before {
//          font-size: 55px;
//        }
//      }
//
//      &__slide {
//        article {
//          max-width: 305px;
//        }
//
//        .review-rating {
//          column-gap: 2px;
//
//          .rating-star {
//            font-size: 18px;
//          }
//        }
//      }
//    }
//  }
//}

.technical-data-wrap {
  border: 1px solid;
  margin-top: 90px;
  margin-bottom: 100px;
  color: $gmm-gray;

  .technical-data-heading {
    padding: 36px 55px 36px 62px;
    //margin-bottom: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    h3 {
      color: #000;
    }

    &:after {
      content: '\2b';
      width: 30px;
      height: 30px;
      background-color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 18px;
      font-family: $fa;
      color: $white;
    }

    &--open {
      &:after {
        content: '\f068';
      }
    }
  }

  ul {
    max-width: 90%;

    li {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 165.4%; /* 29.772px */
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  .technical-data {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease-out;
    padding: 0 55px 0 62px;

    article {
      //padding-top: 40px;
      overflow: hidden;
      transition: all 0.5s ease-out;
    }

    &--open {
      grid-template-rows: 1fr;

      article {
        padding: 40px 0;
      }
    }
  }

  @include breakpoint(small down) {
    padding: 0 25px;
    .technical-data-heading {
      padding: 36px 0px 36px 0px;
    }
    .technical-data {
      padding: 0px;
    }
  }
}
