.hero-section {
  position: relative;
  overflow: hidden;

  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba($black, 0.75);
  }

  .hero-section__container {
    position: relative;
    padding-top: 312px;
    padding-bottom: 312px;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      clip-path: polygon(0 0, 1.5% 100%, 3% 0, 100% 0, 100% 100%, 0 100%);
      left: 0;
      width: 3000px;
      height: 45px;
      bottom: 0px;
      z-index: 2;
      background-color: $white;
    }

    &:after {
      content: '';
      position: absolute;
      width: 1000px;
      background-color: $white;
      height: 45px;
      bottom: 0px;
      z-index: 2;
      right: 100%;
    }
  }

  .hero-title {
    color: $white;
    border-top: 1px solid $gmm-gray;
    max-width: fit-content;
  }

  .hero-subtitle {
    color: $yellow;
  }

  @include breakpoint(1600px down) {
    padding: 0 40px;
    //.hero-section__container {
    //  &:after {
    //    display: none;
    //  }
    //
    //  &:before {
    //    clip-path: polygon(
    //      0 0,
    //      48.5% 0,
    //      50% 100%,
    //      51.5% 0,
    //      100% 0,
    //      100% 100%,
    //      0 100%
    //    );
    //    left: 50%;
    //    transform: translateX(-50%);
    //  }
    //}
  }
  @include breakpoint(medium down) {
    .hero-section__container {
      &:after {
        display: none;
      }

      &:before {
        clip-path: polygon(
          0 0,
          48.5% 0,
          50% 100%,
          51.5% 0,
          100% 0,
          100% 100%,
          0 100%
        );
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  @include breakpoint(small down) {
    padding: 0 39px;
    .hero-section__container {
      padding-top: 141px;
      padding-bottom: 110px;
    }
    .hero-title {
      padding-top: 12px;
      margin-bottom: 40px;
    }
    .hero-subtitle {
      margin-bottom: 12px;
    }

    .button {
      padding: 17px 31px;

      &:hover,
      &:focus {
        padding: 17px 65px 17px 31px;
      }
    }
  }
}
