/* ---------------------------------------
	Typography
--------------------------------------- */
.fluid {
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $sub-font;

  a {
    color: inherit;
  }
}

h1,
.h1 {
  /* basic heading styles */
  font-size: 60px;
  font-weight: 300;
  line-height: 78px; /* 130% */
  letter-spacing: 1.8px;
  text-transform: uppercase;
  @include breakpoint(small down) {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px; /* 116.667% */
    letter-spacing: 0.9px;
  }
}

h2,
.h2 {
  /* basic heading styles */
  font-size: 50px;
  font-weight: 500;
  line-height: 60px; /* 120% */
  text-transform: uppercase;
  @include breakpoint(small down) {
    font-size: 24px;
    line-height: 27px; /* 112.5% */
  }
}

h3,
.h3 {
  /* basic heading styles */
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  @include breakpoint(small down) {
    font-size: 22px;
    font-weight: 700;
  }
}

h4,
.h4 {
  /* basic heading styles */
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  @include breakpoint(small down) {
    font-size: 16px;
  }
}

h5,
.h5 {
  /* basic heading styles */
}

h6,
.h6 {
  /* basic heading styles */
}

p {
  /* basic paragraph styles */

  font-family: $font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  &:empty {
    display: none;
  }

  a {
    text-decoration: underline;
  }
}

ul {
  /* basic list styles */
  font-size: inherit;

  li {
    /* basic list-item styles */
  }
}

address {
  font-style: normal;
  margin-bottom: $global-margin;
}

a {
  color: $primary-color;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    color: darken($primary-color, 20);
  }
}

/* ---------------------------------------
	Tiny MCE formats
--------------------------------------- */

.text-large {
  font-size: 125%;
}

.text-align-justify {
  text-align: justify;
}

/* ---------------------------------------
	Tables
--------------------------------------- */
table {
  margin-bottom: 1rem;

  th,
  td {
    border: $table-border;
    padding: 0.75rem;
  }
}

/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */

.no-outline {
  button,
  a,
  [tabindex] {
    outline: none;
  }
}

/* Placeholder styling */

input,
textarea {
  &::placeholder {
    opacity: 1;
  }
}

/* Input Styling */

[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
textarea,
select,
.select-styled {
  $height: ($input-font-size * unitless-calc($input-line-height)) +
    (get-side($input-padding, 'top') + get-side($input-padding, 'bottom')) +
    rem-calc(get-border-value($input-border, 'width') * 2);

  /* STYLES GO THERE */
  height: $height;
  margin-bottom: 0;
}

textarea[rows] {
  /* Styles for TextArea */
  height: 150px;
  max-width: 100%;
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

[type='checkbox'],
[type='file'],
[type='radio'] {
  margin-bottom: 0;
}

button,
.button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  border-width: $button-hollow-border-width;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  //&:hover,
  //&:focus {
  //}
}

/* Button additional styles */
.button {
  color: #000;
  font-family: $sub-font;
  font-size: 20px;
  font-weight: 300;
  line-height: 0.9;
  text-transform: uppercase;
  padding: 28px 39px 29px 39px;
  background-color: $yellow;
  position: relative;
  transition: all 0.5s ease-out;
  width: 100%;
  max-width: fit-content;

  &:after {
    content: '';
    width: 19px;
    vertical-align: baseline;
    aspect-ratio: 1/1;
    background-image: url('../../images/arrow.svg');
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 39px;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    background-color: $yellow;
    color: $black;
    padding: 28px 68px 29px 39px;

    &:after {
      opacity: 1;
    }
  }
}

.section-top-triangle {
  padding-top: 370px !important;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 163px;
    background-image: url('../../images/section_graphics111.png');
    background-position: 50% 0%;
    background-size: 100% 100%;
    transform: rotate(180deg);
    transform-origin: center;
    z-index: 3;
  }

  @include breakpoint(medium down) {
    padding-top: 220px !important;
    &:before {
      background-size: 200% 100%;
    }
  }
}

.section-bottom-triangle {
  padding-bottom: 370px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 163px;
    background-image: url('../../images/section_graphics111.png');
    background-size: 100% 100%;
    background-position: 50% 0%;
    z-index: 3;
  }
  @include breakpoint(medium down) {
    padding-bottom: 270px !important;
    &:after {
      background-size: 200% 100%;
    }
  }
}

.pagination {
  li {
    a,
    span {
      color: $black !important;

      &.current {
        background-color: $yellow !important;
      }

      &:hover {
        background-color: $yellow;
      }
    }
  }
}
